/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \*****************************************************************/
:root {
    --cor-primaria-branco: white;
    --cor-secundaria-verde: #298906;
    --cor-tercearia-verde: #64B16D;
    --cor-quartaria-cinza: #8d8d8d;
    --cor-quintaria-laranja: #FFC14C;
    --cor-sextaria-azul: #3BAEDA;
    --cor-msgErro-vermelho: rgb(245, 72, 72);
    --cor-contatos-verde: #044B19;
    --cor-btn-adicionar: #27612F;
    --cor-input-verde: #CFFCDC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", serif;
}

body {
    overflow-x: hidden;
    max-height: 100%;
    background-image: url(../js/../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contatos {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
    margin-top: 20px;
    background: var(--cor-contatos-verde);
    padding: 10px 20px;
    width: 4em;
    gap: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.overlay {
    position: absolute;
    top: 8px;
    left: -5px;
    right: -10px;
    bottom: -7px;
    background-color: var(--cor-tercearia-verde);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: -1;
}

.text-cnt {
    display: none;
    color: var(--cor-primaria-branco);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.contatos:hover .text-cnt {
    display: block;
    transform: translateY(3px);
}

.contatos:hover {
    width: 10em;
}

.btn-fechar {
    position: fixed;
    right: 31rem;
    top: 1rem;
    transform: translateX(600px);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
    transition: .1s ease-out;
}

.btn-fechar:hover {
  transform: scale(1.06);
}

.menu-contatos.ativo, .btn-fechar.ativo {
    transform: translateX(0px);
}

.menu-contatos {
    position: fixed;
    right: 0;
    transform: translateX(600px);
    top: 0;
    width: 30%;
    height: 100vh;
    background: var(--cor-contatos-verde);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 50px;
    z-index: 100;
}

.menu-contatos .lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    margin-top: 9rem;
}

.menu-contatos .lista h1 {
    font-size: 12pt;
    font-weight: 400;
    margin-top: 12px;
    letter-spacing: 1px;
    color: var(--cor-primaria-branco);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    margin-top: 5rem;
}

.icons {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: auto 20px;
}

.form-div {
    margin-top: 26px;
}

.form-div.error-message-borda input[type = text] {
    border: 3px solid var(--cor-msgErro-vermelho);  
}

.form .error-message {
    color: var(--cor-msgErro-vermelho);
    margin-top: 7px;
    width: 460px;
    font-size: 14pt;
    font-weight: 400;
    font-style: italic;
    display: none;
}

.form-div.error-message-borda .error-message {
    display: block;
}

.form input{
    width: 100%;
    height: 8vh;
    margin-top: 10px;
    background: var(--cor-input-verde);
    border: none;
    border-radius: 3px;
    font-size: 14pt;
    padding-left: 16px;
}

.form input:focus {
    outline: 3px solid var(--cor-secundaria-verde);
}

.form input::placeholder {
    color: var(--cor-quartaria-cinza);
    padding-left: 10px;
    font-size: 20px;
}

.form label {
    color: var(--cor-primaria-branco);
    margin-top: 25px;
}

.btn-add {
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    margin-top: 28px;
    font-weight: 500;
    font-size: 100%;
    padding: 10px;
    width: 140px;
    border-radius: 3px;
    cursor: pointer;
    gap: 15px;
    color: var(--cor-primaria-branco);
    background: var(--cor-btn-adicionar);
    border: none;
    transition: .2s ease-in-out;
}

.btn-add:hover {
    background: var(--cor-sextaria-azul);
}

.btn-add h1 {
    color: var(--cor-primaria-branco);
    font-size: 1rem;
    font-weight: 500;
    margin-top: 4px;
    letter-spacing: 1px;
}

/*# sourceMappingURL=bundler.css.map*/