* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    height: 100vh;
    background-image: url(./image/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
}

.btn-add {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 3px;
    gap: 21px;
    color: white;
    background: #27612F;
    border: none;
}