:root {
    --cor-primaria-branco: white;
    --cor-secundaria-cinza: #9c9c9c;
    --cor-tercearia-azul: #7faac7;
    --cor-quartaria-cinza: #7e7d7d;
    --cor-quintaria-cinza: #263838;
    --cor-opcoes-apagar-cinza: #1A2929;
    --cor-modalNao-vermelho: #f54848;
    --cor-msgErro-vermelho: #c90000;
    --cor-azul-escuro: #0D3D5E;
    --cor-modal-sim: #6DCC6D;
    --cor-background-verde: #80a187;
    --cor-form-verde: #5d805d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", serif;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-background-verde);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contatos {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
    margin-top: 20px;
    background: var(--cor-azul-escuro);
    padding: 10px 20px;
    width: 4em;
    gap: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.overlay {
    position: absolute;
    top: 8px;
    left: -5px;
    right: -10px;
    width: 108%;
    bottom: -7px;
    max-width: 100vw;
    background-color: var(--cor-tercearia-azul);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -1px 1px 8px rgb(92, 124, 92);
    z-index: -1;
}

.text-cnt {
    display: none;
    color: var(--cor-primaria-branco);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.contatos:hover .text-cnt {
    display: block;
    margin-top: 3px;
}

.contatos:hover {
    width: 10em;
}

.contatos:active {
    background-color: var(--cor-tercearia-azul);
}

.btn-fechar {
    position: fixed;
    top: 1rem;
    right: -100%;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
    transition: .2s;
}

.btn-fechar.ativo:hover {
    transform: scale(1.07);
}

.btn-fechar.ativo {
    right: 31rem;
}

.menu-contatos .buscar {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    margin-left: 24rem;
    margin-right: 4rem;
    transform: translateY(3em);
    padding: 0.5rem 0rem 0.5rem 0rem;
    gap: 3px;
    overflow: hidden;
    transition: .5s;
}

.buscar.ativar {
    margin-left: 0rem;
}

.buscar .lupa {
    cursor: pointer;
    transition: .1s ease-in-out;
}

.buscar .lupa:hover {
    transform: scale(1.05) rotate(25deg);
}

.buscar .input-busca input {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--cor-primaria-branco);
    width: 16vw;
    height: 2rem;
    outline: none;
    font-size: 20pt;
    font-weight: 200;
    padding: 5px;
    color: var(--cor-primaria-branco);
}

.menu-contatos {
    position: fixed;
    right: 0;
    right: -600px;
    top: 0;
    width: 30%;
    min-height: 100%;
    background: var(--cor-azul-escuro);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: .3s ease-in-out;
}

.menu-contatos.ativo {
    right: 0;
}

.checkbox {
    display: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    border: 1px solid var(--cor-quartaria-cinza);
    background: var(--cor-opcoes-apagar-cinza);
}

.checkbox.ativo {
    display: flex;
}

.checkbox::after {
    content: "✔";
    font-size: 2rem;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color 0.2s;
}

.checkbox:checked::after {
    color: var(--cor-modal-sim);
}

.cnt-pessoa .sem-contato {
    display: flex;
    justify-content: center;
    font-size: 16pt;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--cor-quartaria-cinza);
}

.scrol {
    overflow-y: scroll;
    max-height: calc(100vh - 15rem);
    overflow-x: hidden;
}

.menu-contatos .scrol::-webkit-scrollbar {
    width: 5px;
}

.menu-contatos .scrol::-webkit-scrollbar-thumb {
    background-color: var(--cor-quartaria-cinza);
    border-radius: 10px;
}

.menu-contatos .lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 7rem;
    padding: 15px;
}

.menu-contatos .borda {
    position: absolute;
    margin-left: 1.6rem;
    width: 90%;
    height: 1px;
    margin-top: -0.6rem;
    background-color: var(--cor-primaria-branco);
    border: none;
}

.menu-contatos .lista h1 {
    font-size: 12pt;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--cor-primaria-branco);
}

.lista .apagar {
    width: 40px;
    height: 40px;
    gap: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: var(--cor-primaria-branco);
    border-radius: 10px;
    background-color: var(--cor-azul-escuro);
    transition: .2s;
}

.lista .apagar:hover {
    color: var(--cor-azul-escuro);
    border-radius: 10px;
    background-color: var(--cor-primaria-branco);
}

.opcoes-apagar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.apagar-estilo {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2.9rem;
    width: 13rem;
    height: 7rem;
    border-radius: 2px;
    background-color: var(--cor-opcoes-apagar-cinza);
    z-index: 1000;
}

.apagar-estilo.ativo {
    display: flex;
}

.apagar-estilo .borda-apagar {
    width: 87%;
    height: 1px;
    background-color: var(--cor-primaria-branco);
    opacity: 0.2;
    border: none;
}

.apagar-estilo button {
    display: flex;
    align-items: center;
    text-align: start;
    width: 100%;
    height: 40%;
    border: none;
    color: var(--cor-primaria-branco);
    padding: 23px;
    background-color: transparent;
    cursor: pointer;
    font-size: 14pt;
    font-weight: 300;
    transition: all .2s;
}

.apagar-estilo button:hover {
    background-color: var(--cor-quintaria-cinza);
    color: var(--cor-primaria-branco);
    font-weight: 400;
}

.apagar-estilo::before {
    content: '';
    position: absolute;
    top: -9px;
    right: 11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent var(--cor-opcoes-apagar-cinza);
}

.apagar-estilo2.ativo {
    height: 4rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.ativo {
    visibility: visible;
    opacity: 1;
}

.modal {
    background: var(--cor-opcoes-apagar-cinza);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.363);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.modal p {
    color: var(--cor-primaria-branco);
    font-size: 15pt;
    letter-spacing: 1px;
}

.modal button {
    margin: 30px 10px 10px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
}

.modal .btn-confirm {
    border: 1px solid var(--cor-secundaria-cinza);
    color: var(--cor-secundaria-cinza);
    font-size: 13pt;
    letter-spacing: 1px;
}

.modal .btn-confirm:hover {
    border: 1px solid var(--cor-modal-sim);
    color: var(--cor-quintaria-cinza);
    background: var(--cor-modal-sim);
}

.modal .btn-cancel {
    border: 1px solid var(--cor-secundaria-cinza);
    color: var(--cor-secundaria-cinza);
    font-size: 13pt;
    letter-spacing: 1px;
}

.modal .btn-cancel:hover {
    border: 1px solid var(--cor-modalNao-vermelho);
    color: var(--cor-opcoes-apagar-cinza);
    background: var(--cor-modalNao-vermelho);
}

.menu-contatos .cnt-pessoa {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 3rem;
    gap: 3.7rem;
    font-size: 20pt;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--cor-primaria-branco);
}

.sem-contato {
    display: none;
    justify-content: center;
    font-size: 16pt;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--cor-quartaria-cinza);
}

.menu-contatos .cnt-pessoa .contato-salvo {
    display: flex;
    align-items: center;
    margin-left: 4rem;
    width: 100%;
    gap: 1rem;
    position: relative;
    padding: 10px;
    cursor: pointer;
    width: calc(100% - 6rem);
    border: 1px solid var(--cor-azul-escuro);
    transition: .1s;
}

.menu-contatos .cnt-pessoa .contato-salvo:hover {
    border-radius: 10px;
    border: 1px solid var(--cor-tercearia-azul);
}

.cnt-pessoa .contato-salvo.ativo {
    background-color: var(--cor-tercearia-azul);
    border-radius: 10px;
}

.cnt-pessoa .nome-cnt {
    flex: 1;
    overflow: hidden;
}

.menu-contatos .editar {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: var(--cor-primaria-branco);
    cursor: pointer;
    background-color: transparent;
    transition: .1s;
}

.menu-contatos .editar.ativo {
    display: block;
}

.menu-contatos .editar:hover {
    transform: scale(1.06);
    color: var(--cor-azul-escuro);
    border-radius: 10px;
    background-color: var(--cor-primaria-branco);
}

.cnt-pessoa .contato-salvo::after {
    content: '';
    position: absolute;
    bottom: -70%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--cor-quartaria-cinza);
}

.cnt-pessoa .contato-salvo:last-child::after {
    content: none;
}

.cnt-pessoa .traco {
    line-height: 1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    gap: 6rem;
    margin-top: 1rem;
}

.formulario {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--cor-form-verde);
    padding: 4rem 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin: auto 0px;
}

.form-div {
    margin-top: 26px;
}

.form-div.error-message-borda input[type=text] {
    border: 3px solid var(--cor-msgErro-vermelho);
}

.form .error-message {
    color: var(--cor-msgErro-vermelho);
    margin-top: 7px;
    font-size: 14pt;
    font-weight: 400;
    font-style: italic;
    display: none;
}

.form-div.error-message-borda .error-message {
    display: block;
}

.form input {
    width: 100%;
    height: 8vh;
    margin-top: 10px;
    background: var(--cor-primaria-branco);
    color: var(--cor-quintaria-cinza);
    border: none;
    border-radius: 3px;
    font-size: 14pt;
    padding-left: 10px;
}

.form input:focus {
    outline: 3px solid var(--cor-tercearia-azul);
}

.form input::placeholder {
    color: var(--cor-quartaria-cinza);
    padding-left: 10px;
    font-size: 20px;
}

.form label {
    color: var(--cor-primaria-branco);
    margin-top: 25px;
}

.btn-add {
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    margin-top: 28px;
    font-weight: 500;
    font-size: 100%;
    padding: 10px;
    width: 140px;
    border-radius: 3px;
    cursor: pointer;
    gap: 15px;
    color: var(--cor-primaria-branco);
    background: var(--cor-azul-escuro);
    border: none;
    transition: all .1s ease-in-out;
}

.btn-add:hover {
    color: var(--cor-quintaria-cinza);
    background: var(--cor-tercearia-azul);
}

.btn-add:hover  h1{
    color: var(--cor-quintaria-cinza);
}

.btn-add h1 {
    color: var(--cor-primaria-branco);
    font-size: 1rem;
    font-weight: 500;
    margin-top: 4px;
    letter-spacing: 1px;
}

/* Formulário secundario, de edição*/
.editar-form {
    display: none;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    background-color: var(--cor-form-verde);
    padding: 4rem 3rem;
}

.btns-add-cancel {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.editar-form .btn-add {
    height: 41px;
}

.editar-form .btn-add:hover .icon {
    stroke: var(--cor-quintaria-cinza);
}

.editar-form .btn-add.cancel { 
    background: transparent;
    border: 2px solid var(--cor-azul-escuro);
}

.editar-form .btn-add.cancel h1 {
    color: var(--cor-azul-escuro);
    font-weight: 600;
}

.editar-form .btn-add.cancel:hover {
    background: var(--cor-tercearia-azul);
    border: 2px solid var(--cor-tercearia-azul);
}

.editar-form .btn-add.cancel:hover h1 {
    color: var(--cor-quintaria-cinza);
    font-weight: 600;
}

.imagem-logo {
    width: 500px;
    height: 500px;
}